<p id="notice"><%= notice %></p>

<p>
  <strong>Branch Name:</strong>
  <%= @branch.branchName %>
</p>

<p>
  <strong>Branch Location:</strong>
  <%= @branch.branchLocation %>
</p>

<p>
  <strong>Branch Postcode:</strong>
  <%= @branch.branchPostcode %>
</p>

<%= link_to 'Edit', edit_branch_path(@branch) %> |
<%= link_to 'Back', branches_path %>
