<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @employee.fullname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Employeerole:</strong>
  <%= @employee.employeeRole %>
</p>

<p>
  <strong>Email:</strong>
  <%= @employee.email %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @employee.branch %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
