<div class="page-header">
	<% if current_user.verify==true %>
	<h5 align="left"> <%= Account.find(current_user).name.upcase %></h5>
	<h5 align="left">Account Number: <%= Account.find(current_user).customer_id %></h5>
	<h5 align="left">Available Balance: <%= Account.find(current_user).balance %></h5>
	<h5 align="left">Overdraft: <%= Account.find(current_user).overdraft %></h5>
	<% end %>
   <div class="contextual">
  </div>
<h5 align="right" style="font-family:verdana">Total Number of transactions: <%=@transactions.count%></h5>
<table class="table table-striped table-bordered table-condensed ">
<thead>
<tr>
  <th colspan="1">Transaction Type</th>
	<th colspan="1">Account Number</th>
  <th colspan="1">Transaction Description</th>
  <th colspan="1">Transaction Amount (£ GBP)</th>
	<% if !current_user.try(:admin?) %>
	<th colspan="1">Balance</th>
	<% end %>
	<th colspan="1">Transaction Date</th>
</tr>
</thead>
<tbody>
	<% obj.each do |transaction|  %>
      <tr>
        <td><%= transaction.transType %></td>
				<td><%= transaction.account_id %>
        <td><%= transaction.description %></td>
				<td><%= transaction.amount %></td>
				<% if !current_user.try(:admin?) %>
				<td><%= transaction.total_balance %>
	      <% end %>
				<% if current_user.try(:admin?) %>
			  <% end %>
				<td><%= transaction.created_at.strftime("%d %b %Y %H:%M:%S") %>
        </td>
        <% end %>
      <tr>
    </tr>
  </tbody>

</table>
<% if !current_user.try(:admin?) %>
<%= link_to 'New Transaction', new_transaction_path %>
 <% end %>
<div align="center">
<%= will_paginate @transactions %>
</div>

