<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @transaction.description %></h3>
  <div class="panel-body">
    <p>
  <strong>Transtype:</strong>
  <%= @transaction.transType %>
</p>
<p>
  <strong>Description:</strong>
	<%= @transaction.description %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Beneficiary Account Number:</strong>
	<%= @transaction.account_id %>
</p>

  </div>
  </div>
</div>
<%= link_to 'Back', transactions_path %>
